/* Default style */

html,
body
{
    font-family: "Helvetica", Arial, Verdana, Geneva;
}

/*************************** WP CORE ***************************/
.wp-caption
{
}
.wp-caption-text
{
}
.sticky
{
}
.screen-reader-text
{
}
.gallery-caption
{
}
.bypostauthor
{
}
.alignright
{
}
.alignleft
{
}
.aligncenter
{
}


/* Theme core */

/**
 * menu's 
 */
.menu li.current-menu-item a
{
}



/**
 * widgets 
 */
.widget
{
}
.widgetpadding
{
}
.widgetpadding h3
{
}
.widgetpadding ul
{
}
.widgetpadding ul li
{
}





/* Slider */

/* 
 * top and bottom bg overlay to use 
 * elements are positioned on top and bottom in header slider html
 */
#sliderbox-head .topelement,
#sliderbox-head .bottomelement {
position: absolute;
z-index: 40;
}


#sliderbox-head .topelement {
width: 100%;
height: 50%;
top: 0;
right: 0;
}

#sliderbox-head .bottomelement {
width: 100%;
height: 50%;
bottom: 0;
left: 0;
}
